<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
    $("#formEdit").on("submit", function(e){
        e.preventDefault();
        e.stopPropagation();
        var $this = $(this);
        var valid = true;
        $('#formEdit input').each(function() {
            let $this = $(this);
            
            if(!$this.val()) {
                valid = false;
                $this.parents('.validate').find('.mySpan').text('The '+$this.attr('name').replace(/[\_]+/g, ' ')+' field is required');
            }
        });
        if(valid){
            let data = $this.serialize();
            $.ajax({
                url: $this.attr("action"),
                type: "POST",
                data: data,
                dataType: "json",
                success: function(resp){
                    if(resp.message == "success"){
                        alert("Update successful");
                        $("#editModal").modal("hide");
                    }else{
                        alert(resp.message);
                    }
                },
                error: function(resp){
                    console.log("something went wrong")
                }
            });
        }
        return false;
    });
    $('#table tbody').on("click", '.link-delete', function(e){
            e.preventDefault();
            var $this = $(this);
            if (confirm('Sure to delete ?')){
                $.ajax({
                    url: $this.attr("href"),
                    type: "GET",
                    dataType: "json",
                    success: function(resp){
                        if(resp.message == "success"){
                            $this.parent('.record').fadeOut("slow", function(){
                                $this.parent('.record').remove();
                            });
                        }
                        else{
                            alert(resp.message);
                        }
                    },
                    error: function(resp){
                        console.log("something went wrong");
                    }
    
                });
            }
            return false;
        });
    </script>
</head>
<body>

    <div class="container">
        <div>
            <form name="search_form" method="POST" action="{% url 'search' %}">
                {% csrf_token %}
              <input type="search" name="search" placeholder="Search here!" />
            </form>
        </div>
        <table class="table" id="table" border="2px">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Ten Sach</th>
                <th scope="col">tac gia</th>
                <th scope="col">Gia Ban</th>
              </tr>
            </thead>
        
            <tbody>
                {% for book in list_books %}
                <tr class="record">
                    <th scope="row">{{ book.id }}</th>
                    <td>{{ book.name }}</td>
                    <td>{{ book.authors }}</td>
                    <td>{{ book.price }}</td>
                    <td>
                    <a onclick="update_book('{{book_id}}')"
                    href="">Sửa</a>|<a
                    href="{% url 'del_book' book.id %}"
                    class="link-delete"
                    >Xóa</a>
                     </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formEdit" action="">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group validate">
                            <input type="text" name="author" class="form-control"  placeholder="Enter author name">
                            <small class="text-red text-muted mySpan"></small>
                        </div>
                        <div class="form-group validate">
                            <input type="text" name="name" class="form-control"  placeholder="Enter book name">
                            <small class="text-red text-muted mySpan"></small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class=" btn btn-secondaty" data-dismiss="modal">Close</button>
                        <button type="submit" class=" btn btn-primary btnUpdate" >Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>