{% extends 'base.html' %}

{% block styles %}
<style>
    .text-red{
        color: tomato !important;
    }
</style>
{% endblock styles %}

{% block content %}
<div class="container">
    <div class="row pt-5">
        <div class="col-12">
            <form>
                <li><input class="search-query span10" type="text" name="suggestion" value="" id="suggestion" placeholder="Search something" /></li>
             </form>
            <table class="table" id="table">
                <thead>
                  <tr>
                    <th scope="col">Book name</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for task in list_books %}
                    <tr class="record">
                        <td>{{ task.name }}</td>
                        <td>{{ task.authors }}</td>
                        <td>{{ task.price }}</td>
                        <td>
                            <a href="./"  class="link-edit mr-2 text-primary ">Edit</a>
                            <a href="{% url 'delete' task.id %}" class="link-delete text-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formEdit" action="">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group validate">
                        <input type="text" name="name" class="form-control"  placeholder="Enter owner name">
                        <small class="text-red text-muted mySpan"></small>
                    </div>
                    <div class="form-group validate">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Open this select menu</option>
                            {% for author in authors%}
                            <option value="{{author.id}}">{{author.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group validate">
                        <input type="text" name="price" class="form-control">
                        <small class="text-red text-muted mySpan"></small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class=" btn btn-secondaty" data-dismiss="modal">Close</button>
                    <button type="submit" class=" btn btn-primary btnUpdate" >Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    $("#table tbody").on("click",".link-edit", function(e){
        e.preventDefault();
        $("#editModal").modal("show");
        return false;
    });

    $("#formEdit").on("submit", function(e){
        e.preventDefault();
        e.stopPropagation();
        var $this = $(this);
        var valid = true;
        $('#formEdit input').each(function() {
            let $this = $(this);
            
            if(!$this.val()) {
                valid = false;
                $this.parents('.validate').find('.mySpan').text('The '+$this.attr('name').replace(/[\_]+/g, ' ')+' field is required');
            }
        });
        if(valid){
            let data = $this.serialize();
            $.ajax({
                url: $this.attr("action"),
                type: "POST",
                data: data,
                dataType: "json",
                success: function(resp){
                    if(resp.message == "success"){
                        alert("Update successful");
                        $("#editModal").modal("hide");
                    }else{
                        alert(resp.message);
                    }
                },
                error: function(resp){
                    console.log("something went wrong")
                }
            });
        }
        return false;
    });

    $('#table tbody').on("click", '.link-delete', function(e){
        e.preventDefault();
        var $this = $(this);
        if (confirm('Sure to delete ?')){
            $.ajax({
                url: $this.attr("href"),
                type: "GET",
                dataType: "json",
                success: function(resp){
                    if(resp.message == "success"){
                        $this.parents('.record').fadeOut("slow", function(){
                            $this.parents('.record').remove();
                        });
                    }
                    else{
                        alert(resp.message);
                    }
                },
                error: function(resp){
                    console.log("something went wrong");
                }

            });
        }
        return false;
    });
</script>
{% endblock scripts %}